<div class="container">
  <div class="row mb-4">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h1>Create dictator</h1>
      <form [formGroup]="dictatorForm" (ngSubmit)="onCreate()">
        <div class="row justify-content-between">
          <div class="form-group col-md-6 col-lg-6 mb-2">
            <label for="firstname">Firstname</label>
            <input class="form-control" [class.is-invalid]="dictatorForm.get('firstname')?.invalid && dictatorForm.get('firstname')?.touched" type="text" name="firstname" id="firstname" placeholder="Firstname" formControlName="firstname"/>
          
            <div *ngIf="dictatorForm.get('firstname')?.invalid && 
              dictatorForm.get('firstname')?.touched">
              <small *ngIf="dictatorForm.get('firstname')?.errors?.['required']" class="text-danger">Firstname is required</small>
            </div>  
          </div>

          <div class="form-group col-md-6 col-lg-6 mb-2">
            <label for="lastname">Lastname</label>
            <input class="form-control" [class.is-invalid]="dictatorForm.get('lastname')?.invalid && dictatorForm.get('lastname')?.touched" type="text" name="lastname" id="lastname" placeholder="Lastname" formControlName="lastname"/>
            
            <div *ngIf="dictatorForm.get('lastname')?.invalid && 
              dictatorForm.get('lastname')?.touched">
              <small *ngIf="dictatorForm.get('lastname')?.errors?.['required']" class="text-danger">Lastname is required</small>
            </div> 
          </div>
        </div>

        <div class="row justify-content-between">
          <div class="form-group col-md-6 col-lg-6 mb-2">
            <label for="birthYear">Birthyear</label>
            <input class="form-control" [class.is-invalid]="dictatorForm.get('birthyear')?.invalid && dictatorForm.get('birthyear')?.touched" type="text" name="birthyear" id="birthYear" placeholder="Birthyear" formControlName="birthyear"/>
            
            <div *ngIf="dictatorForm.get('birthyear')?.invalid && 
              dictatorForm.get('birthyear')?.touched">
              <small *ngIf="dictatorForm.get('birthyear')?.errors?.['required']" class="text-danger">Birthyear is required</small>
            </div> 
          </div>

          <div class="form-group col-md-6 col-lg-6 mb-2">
            <label for="deathYear">Year of death</label>
            <input class="form-control" type="text" name="deathyear" id="deathYear" placeholder="Year of death" formControlName="deathyear"/>
          </div>
        </div>


        <div class="form-group col-md-12 col-lg-12 mb-2">
          <label for="description">Description</label>
          <textarea class="form-control" [class.is-invalid]="dictatorForm.get('description')?.invalid && dictatorForm.get('description')?.touched" type="text" name="description" id="description" placeholder="Description" formControlName="description" style="resize: none;"></textarea>
          
          <div *ngIf="dictatorForm.get('description')?.invalid && 
            dictatorForm.get('description')?.touched">
            <small *ngIf="dictatorForm.get('description')?.errors?.['required']" class="text-danger">Description is required</small>
          </div> 
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Create dictator" />
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Birthyear</th>
          <th scope="col">Year of death</th>
          <th scope="col">Description</th>
          <th>Buttons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dictator of dictators index as i">
          <td>{{i}}</td>
          <td>{{dictator.firstname}}</td>
          <td>{{dictator.lastname}}</td>
          <td>{{dictator.birthyear}}</td>
          <td>{{dictator.deathyear}}</td>
          <td>{{dictator.description}}</td>
          <td><input type="submit" class="btn btn-danger" value="Delete" (click)="onDelete(i)"/></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
