<div class="container-fluid">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <form [formGroup]="dictatorData">
      <div class="form-group col-md-6 col-lg-6">
        <label for="firstname">Fornavn</label>
        <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Fornavn" formControlName="firstname"/>
      </div>

      <div class="form-group col-md-6 col-lg-6">
        <label for="lastname">Efternavn</label>
        <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Efternavn" formControlName="lastname"/>
      </div>

      <div class="form-group col-md-6 col-lg-6">
        <label for="birthYear">Fødselsår</label>
        <input class="form-control" type="text" name="birthYear" id="birthYear" placeholder="Fødselsår" formControlName="birthYear"/>
      </div>

      <div class="form-group col-md-6 col-lg-6">
        <label for="death">Dødsår</label>
        <input class="form-control" type="text" name="deathYear" id="death" placeholder="Dødsår" formControlName="deathYear"/>
      </div>

      <div class="form-group">
        <label for="description">Beskrivelse</label>
        <input class="form-control" type="text" name="description" id="description" placeholder="Beskrivelse" formControlName="description"/>
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Opret diktator"/>
      </div>
    </form>
  </div>
</div>